body {
  background-color: #f2f2f2;
  font-size: 14px;
}
.user-inf {
  display: flex;
  flex-direction: row;
  height: 1rem;
  align-items: center;
  box-shadow: 2px 2px 1px #ccc;
  margin-bottom: .2rem;
  background-color: #fff;
  position: relative;
}
.user-inf .user-pic {
  width: .6rem;
  height: .6rem;
  background-color: pink;
  margin: 0 .2rem;
  border-radius: 50%;
  overflow: hidden;
}
.user-inf .user-pic a {
  display: inline-block;
}
.user-inf .user-pic a img {
  width: .6rem;
  height: .6rem;
}
.user-inf .user-name {
  width: 2rem;
  font-size: 16px;
}
.user-inf .change-inf {
  flex: 1;
  height: .8rem;
}
.user-inf .change-inf i.icon-right {
  display: inline-block;
  width: 16px;
  height: 25px;
  background: url("../images/icon-right.png") no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 16px;
}
.inf-container {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 1px #ccc;
}
.inf-container li {
  height: .5rem;
  line-height: .5rem;
  background-color: #fff;
  padding-left: 40px;
  margin-bottom: 1px;
  position: relative;
  font-size: 14px;
}
.inf-container li a {
  display: inline-block;
  width: 100%;
}
.inf-container li a i.icon-inf-item {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/icon-inf-item.png") no-repeat;
  background-size: 20px 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 10px;
}
.inf-container li a i.icon-right {
  display: inline-block;
  width: 16px;
  height: 25px;
  background: url("../images/icon-right.png") no-repeat;
  background-size: 8px;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 10px;
}
.login-out {
  width: 90%;
  height: .4rem;
  line-height: .4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  background-color: #2d9cff;
  border-radius: 5px;
  margin: .2rem auto;
}
/* 个人资料修改 */
.inf-rev {
  margin-top: .2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.inf-rev li {
  height: .5rem;
  line-height: .5rem;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
  padding: 0 .15rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  font-size: 14px;
}
.inf-rev li label {
  display: inline-block;
  width: .8rem;
}
.inf-rev li img {
  width: .4rem;
  height: .4rem;
  border-radius: 50%;
  position: absolute;
  right: .1rem;
  top: 50%;
  margin-top: -0.2rem;
}
.inf-rev li input {
  text-align: right;
}
.inf-rev li #user-aver {
  opacity: 0;
}
.inf-save {
  width: 90%;
  border-radius: 5px;
  margin: .2rem auto;
}
.address-content {
  display: flex;
  flex-direction: column;
}
.address-content .address-item {
  margin-top: .1rem;
  background-color: #fff;
  padding: .1rem .15rem;
  font-size: 14px;
}
.address-content .address-item .user {
  height: .3rem;
  line-height: .3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.address-content .address-item .user-add {
  line-height: .3rem;
  margin-bottom: .1rem;
}
.address-content .address-item .revise-add {
  display: flex;
  justify-content: space-between;
}
.address-content .address-item .revise-add .default-add {
  width: 2rem;
  position: relative;
  padding-left: 26px;
}
.address-content .address-item .revise-add .default-add .select-add {
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: 2px 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.address-content .address-item .revise-add .operation-add {
  width: .8rem;
  display: flex;
  justify-content: space-between;
}
.append-add {
  width: 90%;
  height: .4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d9cff;
  color: #fff;
  margin: .2rem auto;
  border-radius: 5px;
  font-size: 14px;
}
.address-revise-content {
  margin-top: .15rem;
}
.address-revise-content li {
  height: .4rem;
  line-height: .4rem;
  background-color: #fff;
  margin-bottom: 1px;
  font-size: 14px;
  padding: 0 15px;
}
.address-revise-content li .address-lab {
  display: inline-block;
  width: 1rem;
}
.achieve {
  display: flex;
  width: 90%;
  height: .4rem;
  line-height: .4rem;
  align-items: center;
  justify-content: center;
  margin: .2rem auto;
  background-color: #2d9cff;
  color: #fff;
  border-radius: 5px;
}
/* 忘记密码 forget */
.login-main {
  display: flex;
  flex-direction: column;
  width: 3.35rem;
  margin: 0 auto;
}
.login-main .logo {
  height: .8rem;
  margin: 0.4rem auto;
  width: .8rem;
  /*background-color: #fff;
        background-image: url("../images/logo.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: .4rem;*/
  border-radius: 50%;
  background: #ffffff url("../images/logo.png") no-repeat center center;
  background-size: .4rem;
}
.login-main .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-main .login-form input[type='text'],
.login-main .login-form input[type='password'],
.login-main .login-form input[type="submit"] {
  width: 3.35rem;
  height: 0.44rem;
  margin-top: .1rem;
  border: none;
  font-size: 14px;
  padding: 0 0 0 .1rem;
}
.login-main .login-form input[type="submit"] {
  width: 3.45rem;
  color: #fff;
  background-color: #2d9cff;
  border-radius: 0.05rem;
  margin-bottom: 0;
  margin-top: .1rem;
}
.login-main .login-form .form-group {
  margin: 0;
}
.login-main .form-control-feedback {
  top: 0.15rem;
}
.login-main .reg-login {
  height: .2rem;
  font-size: 14px;
  margin: .05rem;
}
.login-main .reg-login a {
  color: #2d9cff;
}
.login-main .third-party h3 {
  text-align: center;
  color: #646464;
  margin-bottom: .3rem;
}
.login-main .third-party .third-icon {
  display: flex;
  flex-direction: row;
}
.login-main .third-party .third-icon li {
  flex: 1;
  margin-right: .2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.login-main .third-party .third-icon li i {
  display: inline-block;
  width: .56rem;
  height: .56rem;
  background-size: 0.56rem;
  margin-bottom: .1rem;
}
.login-main .third-party .third-icon li .icon-qq {
  background-image: url("../images/icon-qq.png");
}
.login-main .third-party .third-icon li .icon-wx {
  background-image: url("../images/icon-wx.png");
}
.login-main .third-party .third-icon li .icon-wb {
  background-image: url("../images/icon-wb.png");
}
.login-main .third-party .third-icon li .third-icon-desc {
  display: block;
}
/* 账号注册 register */
.reg-main .security-code {
  position: relative;
}
.reg-main .security-code .get-code {
  width: 1rem;
  height: .3rem;
  line-height: .3rem;
  position: absolute;
  top: .17rem;
  right: .1rem;
  background-color: #2d9cff;
  font-size: 14px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
}
/* 账号登陆 login */
.save-address {
  background-color: #fff;
  width: 98%;
  margin: .05rem 1%;
}
.save-address .form-group {
  display: flex;
  height: 0.4rem;
  line-height: .4rem;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 0;
}
.save-address .form-group label {
  width: .8rem;
  margin-bottom: 0;
  font-size: 12px;
  text-align: right;
  font-weight: normal;
}
.save-address .form-group input {
  flex: 1 1 auto;
  height: 0.4rem;
  line-height: .4rem;
  padding-left: .1rem;
  background-color: #fff;
  font-size: 12px;
  color: #ccc;
}
.save-address input[type="submit"] {
  width: 80%;
  background-color: #2d9cff;
  margin: .2rem 0;
  color: #fff;
}
.main {
  padding: .15rem;
  /* background-color: #333; */
  box-sizing: border-box;
  margin-bottom: .5rem;
}
.main_son {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: .15rem;
}
.file{
  position: relative;
  width: 25%;
  height: 0.8rem;
  /* background-color: #2d9cff; */
  font-size: .5rem;
  border-radius: .08rem;
  border: .01rem solid #000;
  line-height: 0.8rem;
  text-align: center;
}
.fileInput {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
}
.rightBtn {
 display: flex;
 justify-content: flex-end;
}
.imgDiv{
  width: 100%;
  margin-top: .15rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.imgDiv img {
  width: 45%;
}