/**
 * order.html=> css
 */
body {
  background-color: #f2f2f2;
}
.order {
  margin-bottom: .6rem;
}
.order .order_nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: .4rem;
  line-height: .4rem;
  border-bottom: 1px solid #ccc;
}
.order .order_nav a.order_item {
  flex: 1 ;
  width: 25%;
  text-align: center;
  border-right: 1px solid #cccccc;
  background-color: #fff;
  border-bottom: 2px solid transparent;
}
.order .order_nav a.order_item:last-child {
  border-right: none;
}
.order .order_nav a.order_item_active {
  border-bottom: 2px solid #2d9cff;
}
.order .order_content {
  display: flex;
  flex-direction: column;
}
.order .order_content .order_product {
  margin: .05rem 0 0;
  background-color: #fff;
}
.order .order_content .order_product .store_inf {
  line-height: .4rem;
  border-bottom: 1px solid #cccccc;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: .05rem;
}
.order .order_content .order_product .store_inf .store_logo {
  width: .5rem;
}
.order .order_content .order_product .store_inf .store_logo a img {
  display: inline-block;
  width: 80%;
  border-radius: 50%;
}
.order .order_content .order_product .store_inf .store_name {
  flex: 1 1 auto;
  text-align: left;
  padding-left: .1rem;
}
.order .order_content .order_product .store_inf .pro_status {
  width: .8rem;
  color: red;
}
.order .order_content .order_product .pro_content {
  display: flex;
  flex-direction: row;
  padding: .1rem 0;
  border-bottom: 1px solid #ccc;
}
.order .order_content .order_product .pro_content .pro_img {
  flex: 1 1 30%;
  width: 30%;
}
.order .order_content .order_product .pro_content .pro_img a {
  display: flex;
  justify-content: center;
}
.order .order_content .order_product .pro_content .pro_img a img {
  width: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
}
.order .order_content .order_product .pro_content .pro_inf {
  width: 70%;
}
.order .order_content .order_product .pro_content .pro_inf .pro_name {
  width: 90%;
  margin-right: .15rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: .1rem;
}
.order .order_content .order_product .pro_content .pro_inf .pro_desc {
  width: 90%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 12px;
}
.order .order_content .order_product .pro_total_price {
  line-height: .3rem;
  text-align: right;
  font-size: 14px;
  padding-right: .2rem;
}
.order .order_content .order_product .pro_operation {
  margin: .1rem;
  text-align: right;
  font-size: 0;
}
.order .order_content .order_product .pro_operation a {
  display: inline-block;
  padding: .05rem .15rem;
  background-color: #2d9cff;
  color: #fff;
  border-radius: .05rem;
  font-size: 12px;
  margin-left: 0.1rem;
}
