<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css reset -->
    <link rel="stylesheet" href="./css/reset.css">

    <!-- 公共common.css -->
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/buy.css">
    <!-- weui -->
    <link rel="stylesheet" href="./css/weui.css">
    <link rel="stylesheet" href="./css/jquery-weui.css">

    <title>云乐互联</title>
</head>
<body ontouchstart>
    <!-- main start -->
    <div class="main">
        <!--top-->
        <div class="top" id="changstate">
            <div class="title">
                <ul class="fuckUl">
                    <!--<li class="active li_itme" v-if="willShow == true" @click="fn()"><span style="color: #E04E3B;">账号类型</span></li>-->
                    <!--<li class="noactive li_itme" v-if="willShow == false" @click="fn()">账号类型</li>-->
                    <!--<li class="li_itme noactive">所属类目</li>-->
                    <!--<li class="li_itme noactive">价格区间</li>-->
                    <!--<li class="li_itme noactive">认证类型</li>-->
                    <li v-for="( item , index ) of  test" :key="index" class="li_itme noactive" :class = "[willShow == index && 'active']" @click="got(index)">
                        {{item.name}}
                    </li>

                </ul>
                <div class="showcon con0" v-if="willShow==0">
                    <ul>
                        <li><a @click="checks(1,1)">订阅号</a></li>
                        <li><a  @click="checks(2,1)">服务号</a></li>
                    </ul>
                </div>
                <div class="showcon con1" v-if="willShow==1">
                    <ul>

                        <li v-for="( item,index) in list"><a @click="checks(item.tid,2)">{{item.name}}</a></li>
                    </ul>
                </div>
                <div class="showcon con2"  v-if="willShow==2">
                    <ul>
                        <li><a @click="checks(1,3)">1万以内</a></li>
                        <li><a @click="checks(2,3)">1-3万</a></li>
                        <li><a @click="checks(3,3)">3-5万</a></li>
                        <li><a @click="checks(4,3)">5-7万</a></li>
                        <li><a @click="checks(5,3)">7-10万</a></li>
                        <li><a @click="checks(6,3)">10-20万</a></li>
                        <li><a @click="checks(7,3)">20万以上</a></li>
                    </ul>
                </div>
                <div class="showcon con3"  v-if="willShow==3">
                    <ul>
                        <li><a @click="checks(1,4)">未认证</a></li>
                        <li><a @click="checks(2,4)">个体认证</a></li>
                        <li><a @click="checks(3,4)">企业认证</a></li>
                    </ul>
                </div>
                <div class="zindex" v-if="showmb==1" @click="hiddenzindex()"></div>
            </div>

        </div>

        <!-- item -->
        <div class="category main-item">
             <div class="category-content" id="category_bind">
                 <div class="category-item" v-for="(item,index) in data" style="height: 220px;">
                     <a :href="'product_detail.html?business_id='+item.business_id+'&id='+2">
                         <ul>
                             <li>
                                 <div class="li_top">
                                     <img src="./images/sicon_wx.png" width="25" height="25">
                                     <span>{{item.zhname}}</span>
                                 </div>

                             </li>
                             <li>
                                 <div class="li_top">
                                     <img src="./images/sicon_hy.png" width="25" height="25">
                                     <span>所属行业:【{{item.fortypetext}}】</span>
                                 </div>
                             </li>
                             <li>
                                 <div class="li_center">
                                     <aside>
                                         <span>粉丝数量</span>
                                         <span>{{item.fansnum}}</span>
                                     </aside>
                                     <aside >
                                         <span>账号类型</span>
                                         <span v-if="item.type==1">订阅号</span>
                                         <span v-else>服务号</span>
                                     </aside>
                                     <aside>
                                         <span>单粉价格</span>
                                         <span>{{item.oneprice}}粉/元</span>
                                     </aside>
                                 </div>
                             </li>
                             <li>
                                 <div class="price">
                                     <span>价格</span>
                                     <span style="color: red;">￥{{item.price}}</span>
                                 </div>
                             </li>
                         </ul>
                     </a>
                 </div>
             </div>
             </div>

        <div class="weui-loadmore">
            <i class="weui-loading"></i>
            <span class="weui-loadmore__tips">正在加载</span>
        </div>
        <!-- nomore -->
        <div class="nomore" style="display: none">
            <span class="nomore-line"></span>
            <span class="no-inf">没有更多了</span>
            <span class="nomore-line"></span>
        </div>
    </div>
    <!-- main end   -->

    <!-- 回到顶部 -->
    <div class="comeBack" id="comeTop">
        <i class="icon-toTop"></i>
        <span class="come-top">顶部</span>
    </div>
    <!-- footer start -->
    <footer>
        <!-- tabbar -->
        <div class="weui-tabbar" id="footer-tabber">
            <a href="./index.html" class="weui-tabbar__item weui-bar__item--on">
                <!--<span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>-->
                <div class="weui-tabbar__icon">
                    <img src="./images/indexicon.png" alt="">
                </div>
                <p class="weui-tabbar__label" style="color: #999999;">首页</p>
            </a>
            <!--<a href="javascript:;" class="weui-tabbar__item">-->
            <a href="./menu.html" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="./images/bugicon.png" alt="">
                </div>
                <p class="weui-tabbar__label" style="color: #36c7fe;">买号</p>
            </a>
            <a href="./order.html" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="./images/sellicon.png" alt="">
                </div>
                <p class="weui-tabbar__label">卖号</p>
            </a>
            <a href="./mine.html" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="./images/usericon.png" alt="">
                </div>
                <p class="weui-tabbar__label">我的</p>
            </a>
        </div>
    </footer>
    <!-- footer end   -->
    <!-- jquery -->
    <script src="./js/jquery-2.1.4.js"></script>
    <script src="./js/jquery-weui.min.js"></script>
    <script src="./js/swiper.min.js"></script>
    <!-- common js -->
    <script src="./js/common.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/data.js"></script>
    <script src="./js/axios.js"></script>
    <script>
        <!--点击事件控制-->
        var vm=new Vue({
            el:"#changstate",
            data:{
                list:[],
                willShow:null,
                showmb:0,
                test:[
                    {ind:0,name:'账号类型'},
                    {ind:1,name:'所属类目'},
                    {ind:2,name:'价格区间'},
                    {ind:3,name:'认证类型'},
                ],
                htypeid:0,
                typeid:0,
                priceid:0,
                rzid:0
            },
            mounted(){
                console.log(this.test,this.willShow)
                this. gettypelist()
                ca
//                this.$refs.fuckLi.addClass('li_itme')
            },
            methods:{
                got(index) {
                    $('body').css('overflow','hidden');
                    this.showmb=1
                    this.willShow = index
                    console.log(this.test,this.willShow)
                },
                hiddenzindex(){
                    this.showmb=0
                    this.willShow=null
                    $('body').css('overflow','');
                },
                checks(id,type){
                    this.showmb=0
                    this.willShow=null
                    $('body').css('overflow','');
                    let that=this;
                    switch (type){
                        case 1:
                            console.log('类型'+type+'id='+id)
                            that.htypeid=id;
                            break
                        case 2:
                            that.typeid=id
                            console.log('类型'+type+'id='+id)
                            break
                        case 3:
                            that.priceid=id
                            console.log('类型'+type+'id='+id)
                            break
                        case 4:
                            that.rzid=id
                            console.log('类型'+type+'id='+id)
                            break
                    }
                },
                gettypelist(){
                    let that=this;
                    axios.post('http://wxpay.possji.cn/yikehao/gettype', {})
                    //then里面跟一个成功回调函数
                        .then(function (resp) {
                            if (resp.data.code){
                                that.list=resp.data.data
                            }else{
                                $.toast("无法加载", "text");
                            }

                        })
                        // catch中跟一个失败回调函数
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            }
        })
    </script>
    <script>
        $(function () {
            // alert(1)     // 测试jquery
            var index = {
                // 初始化函数
                init: function(){
                    this.bindEvents();
                    this.getScrollHeight();
                    this.category_bind();
                },
                // 事件函数
                bindEvents: function(){
                    $("body").on("click",".weui-tabbar__item",index.clickTabbar);
                    $("body").on("click","#comeTop",index.clickComeTop);
                    $("body").on("keypress","#searchInput",index.searchKeypress)
                },
                // 数据渲染
                category_bind: function(){
                    var categoryVue = new Vue({
                        el: "#category_bind",
                        data:{
                            data: [],
                            page:1
                        },
                        methods:{
                            getSelllist(){
                                //使用axios发送请求
                                let that=this;
                                //分页加载开始
                                let loading = false;  //状态标记
                                $(document.body).infinite().on("infinite", function() {
                                    console.log('状态'+loading)
                                        if(loading) return;
                                        loading = true;
                                        let newpage=that.page;
                                        newpage++;
                                        that.page=newpage;
                                        axios.post('http://wxpay.possji.cn/yikehao/haolist', {
                                            page: that.page
                                        })
                                        //then里面跟一个成功回调函数
                                            .then(function (resp) {
                                                if (resp.data.code){
                                                    loading = false;
                                                    let sellarr=that.data;
                                                    let newdata=sellarr.concat(resp.data.data)
                                                    that.data=newdata
                                                    $(".weui-loadmore").hide()
                                                }else{
                                                    $('.nomore').css('display','')
                                                    $(".weui-loadmore").hide()
                                                    $(document.body).destroyInfinite()
                                                    $.toast("已加载完毕", "text");
                                                }

                                            })
                                            .catch(function (error) {
                                                console.log(error);
                                            });
                                        //loading = false;

                                });
                                //分页加载结束
                                axios.post('http://wxpay.possji.cn/yikehao/haolist', {
                                    page: that.page
                                })
                                //then里面跟一个成功回调函数
                                    .then(function (resp) {
                                        if (resp.data.code){
                                            categoryVue.data=resp.data.data
                                        }else{
                                            $.toast("无法加载", "text");
                                        }

                                    })
                                    // catch中跟一个失败回调函数
                                    .catch(function (error) {
                                        console.log(error);
                                    });
                            },

                        },
                        mounted(){
                            console.log('传账号类型='+vm.htypeid)
                            console.log('传所属类目='+vm.typeid)
                            console.log('传价格区间='+vm.priceid)
                            console.log('传认证类型='+vm.rzid)
                            this.getSelllist();
                        }
                    })
                },

                // 监听滚动条位置
                getScrollHeight: function () {
                    $(window).scroll(function() {
                        var scrollHeight = $(document).scrollTop();
                       // console.log(scrollHeight);
                        if (scrollHeight > 500){
                            $("#comeTop").fadeIn(500);
                        }else{
                            $("#comeTop").fadeOut(500);
                        }
                    });
                },
                // 点击返回顶部
                clickComeTop: function () {
                    $("html,body").animate({scrollTop:0}, 500);
                },
                searchKeypress: function (event) {
                    if (event.keyCode == 13){
                        event.preventDefault();
                        // alert(1)
                        location.href="html?search="+event.target.value;
                    }
                },
            }
            // 执行函数
            index.init();
        })
    </script>
</body>
</html>