<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css reset -->
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/common.css">
    <!-- weui -->
    <link rel="stylesheet" href="./css/weui.css">
    <link rel="stylesheet" href="./css/jquery-weui.css">
    <!-- jquery -->
    <script src="./js/jquery-2.1.4.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/request.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/axios.js"></script>
    <!-- mine css -->
    <link rel="stylesheet" href="./css/mine.css">
    <title>我的</title>
</head>
<body>

    <header>
        <div class="topbar-second">
            <span onclick="javascript:history.go(-1)"></span>
            我的
            <!--<i class="back" onclick="javascript:history.go(-1)"></i>-->
        </div>
    </header>
    <!-- 我的页面 -->
    <div id="main_mine">
    <div class="user-inf" >
        <div class="user-pic">
            <a href="#">
                <img src="./images/userlogo.png" alt="">
            </a>
        </div>
        <div class="user-name">
            <span>手机号:<label style="font-size: 13px;color: grey;padding-left: 10px;">{{userinfo.phone}}</label></span>
            <span>等级:
                <label style="font-size: 13px;color: grey;padding-left: 10px;" v-if="userinfo.vipstate==0">普通会员</label>
                <label style="font-size: 13px;color: grey;padding-left: 10px;" v-if="userinfo.vipstate==1">月卡会员</label>
                <label style="font-size: 13px;color: grey;padding-left: 10px;" v-if="userinfo.vipstate==2">季卡会员</label>
                <label style="font-size: 13px;color: grey;padding-left: 10px;" v-if="userinfo.vipstate==3">永久会员</label>
            </span>
        </div>
        <a class="change-inf" href="./userInf-revise.html"><i class="icon-right"></i></a>
    </div>

    <!-- 主体 -->
    <ul class="inf-container">
        <li>
            <a href="./order.html">
                <i class="icon-inf-item icon-dd"></i>
                我的订单
                <i class="icon-right"></i>
            </a>
        </li>
        <li>
            <!--<a href="http://wpa.qq.com/msgrd?v=3&uin=1710600973&site=qq&menu=yes" target="_blank">-->
            <a :href="'http://wpa.qq.com/msgrd?v=3&uin=' + userinfo.kfqq +'&site=qq&menu=yes'" target="_blank">
                <i class="icon-inf-item icon-kf"></i>
                联系客服
                <i class="icon-right"></i>
            </a>
        </li>
        <!--<li>-->
            <!--<a href="./address_list.html">-->
                <!--<i class="icon-inf-item"></i>-->
                <!--我的收获地址-->
                <!--<i class="icon-right"></i>-->
            <!--</a>-->
        <!--</li>-->
        <li>
            <a @click="gotovip(userinfo.vipstate)">
                <i class="icon-inf-item"></i>
                会员中心
                <i class="icon-right"></i>
            </a>
        </li>
        <li>
            <a href="./servercenter.html">
                <i class="icon-inf-item"></i>
                服务中心
                <i class="icon-right"></i>
            </a>
        </li>

    </ul>

    <!-- 退出 -->
    <a class="login-out" href="./login.html" v-if="!uid">登录</a>
    <a class="login-out" @click="loginout" v-if="uid">退出登录</a>
    <!-- footer start -->
    <footer>
        <!-- tabbar -->
        <div class="weui-tabbar" id="footer-tabber">
            <a href="./index.html" class="weui-tabbar__item weui-bar__item--on">
                <!--<span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>-->
                <div class="weui-tabbar__icon">
                    <img src="./images/indexicon.png" alt="">
                </div>
                <p class="weui-tabbar__label" style="color: #999999;">首页</p>
            </a>
            <!--<a href="javascript:;" class="weui-tabbar__item">-->
            <a href="./buy.html" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="./images/bugicon.png" alt="">
                </div>
                <p class="weui-tabbar__label">买号</p>
            </a>
            <a href="./fabu.html" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="./images/sellicon.png" alt="">
                </div>
                <p class="weui-tabbar__label" >卖号</p>
            </a>
            <a href="#" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="./images/usericon.png" alt="">
                </div>
                <p class="weui-tabbar__label" style="color: #36c7fe;">我的</p>
            </a>
        </div>
    </footer>
    <!-- footer end   -->
    </div>
    <script src="./js/jquery-weui.min.js"></script>
    <script src="./js/swiper.min.js"></script>
    <!-- common js -->
    <script>
        // <!--点击事件控制-->
        let Vm = new Vue({
            el: "#main_mine",
            data: {
               uid:'',
                userinfo:{}
            },
            mounted() {
                this.regUserLogin();
            },
            methods: {
                // 验证用户是否登录
                regUserLogin(){
                    let openid=localStorage.getItem('openid');
//                    if(openid==null||openid==''){
//                        window.location.href="http://www.yqfyqf.com";
//                    }else{
                        let islogin=localStorage.getItem('uid');
                        this.uid=islogin
                        if (islogin==null||islogin==''){
                            window.location.href="login.html";
                        }else{
                            //获取个人信息
                            let that = this
                            axios({
                                url: 'http://www.yqfyqf.com/yikehao/getuseropenid',
                                method: 'post',
                                data: {uid: islogin,},
                                headers: {'Content-Type': 'application/json'}
                            }).then(function (resp) {
                                    if (resp.data.code == 1) {
                                        that.userinfo=resp.data.data
                                        console.log(resp.data.data,'用户信息')
                                    } else {
                                        console.log(resp.data.msg,'错误信息')
                                    }
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });
                        }
                    //}

                },
                loginout(){
                    this.uid=''
                    localStorage.setItem('uid','');
                    window.location.reload();
                },
                gotovip(level){
                   window.location.href='./vipcenter.html?level='+level
                }
            }
        })
    </script>
</body>
</html>