<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css reset -->
    <link rel="stylesheet" href="./css/reset.css">
    <!-- 公共common.css -->
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/menu.css">

    <!-- weui -->
    <link rel="stylesheet" href="./css/weui.css">
    <link rel="stylesheet" href="./css/jquery-weui.css">

    <!-- 适配 -->
    <script src="./js/common.js"></script>
    <title>益企发-公众号交易平台|公众号买卖|公众号出售|公众号转让|购买公众号|粉丝迁移</title>
</head>
<body>
<!-- header start -->
<header>
    <div class="topbar-second">
        <span onclick="javascript:history.go(-1)"></span>确认订单
        <i class="back" onclick="javascript:history.go(-1)"></i>
    </div>
</header>
<!-- header end   -->

<!-- main start -->
<div id="main">
    <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">付款金额</label>
                <em class="weui-form-preview__value">¥{{info.price}}</em>
            </div>
        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__bd">
                <label class="weui-form-preview__label">商品</label>
                <span class="weui-form-preview__value">{{info.zhname}}</span>
            </div>
            <div class="weui-form-preview__bd">
                <label class="weui-form-preview__label">账号类型</label>
                <span class="weui-form-preview__value" v-if='info.type == 1'>订阅号</span>
                <span class="weui-form-preview__value" v-if='info.type == 2'>服务号</span>
            </div>
            <div class="weui-form-preview__bd">
                <label class="weui-form-preview__label">认证主体</label>
                <span class="weui-form-preview__value" v-if='info.isrz == 0'>未认证</span>
                <span class="weui-form-preview__value" v-if='info.isrz == 1'>个人认证</span>
                <span class="weui-form-preview__value" v-if='info.isrz == 2'>企业认证</span>
            </div>
            <div class="weui-form-preview__bd">
                <label class="weui-form-preview__label">所属类目</label>
                <span class="weui-form-preview__value">{{info.fortype}}</span>
            </div>
            <div class="weui-form-preview__bd">
                <label class="weui-form-preview__label">粉丝数量</label>
                <span class="weui-form-preview__value">{{info.fansnum}}</span>
            </div>
            <div class="weui-form-preview__bd">
                <label class="weui-form-preview__label">注册时间</label>
                <span class="weui-form-preview__value">{{info.addtime}}</span>
            </div>
            <div class="weui-form-preview__bd">
                <label class="weui-form-preview__label">状态</label>
                <span class="weui-form-preview__value">待支付</span>
            </div>
        </div>

    </div>
    <!-- main end   -->
    <!-- footer start -->
    <footer>
        <div class="order-bar">
            <label class="weui-agree">
                <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox">
                <span class="weui-agree__text">阅读并同意</span>
            </label><label @click="showxie()" class="payxieyi">《益企发用户协议》</label>
            <a class="order-sub" @click="pay(info.id,info.price)">立即支付</a>
        </div>
    </footer>
</div>
<!-- footer end -->
<!-- jquery -->
<script src="./js/jquery-2.1.4.js"></script>
<script src="./js/jquery-weui.min.js"></script>
<script src="./js/swiper.min.js"></script>
<scritp src="./js/public.js"></scritp>
<script src="./js/vue.js"></script>
<script src="./js/data.js"></script>
<script src="./js/axios.js"></script>
<!---->
<script src="./js/weui.min.js"></script>
<script>
    // import {
    //     ImagePreview
    // } from 'https://cdn.jsdelivr.net/npm/vant@1.5/lib/vant.min.js';
    var vm = new Vue({
        el: "#main",
        data: {
            xieyi: [],
            info:[]
        },
        mounted() {
            this.getinfo();
        },
        methods: {
            showxie: function () {
                let that = this;
                axios.post('http://www.yqfyqf.com/yikehao/getxieyi', {
                    state: 2
                })
                //then里面跟一个成功回调函数
                    .then(function (resp) {
                        if (resp.data.code) {
                            that.xieyi = resp.data.data
                            $.alert("<div style='overflow:scroll; height:400px;'>"+that.xieyi.contents+"</div>",'协议详细');
                        } else {
                            $.toast("无法加载", "text");
                        }
                    })
                    // catch中跟一个失败回调函数
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            getinfo() {
                let that = this;
                var id = getUrlParm('gid');
                axios.post('http://www.yqfyqf.com/yikehao/getdetail', {
                    id: id
                })
                //then里面跟一个成功回调函数
                    .then(function (resp) {
                        if (resp.data.code) {
                            that.info = resp.data.data
                            console.log(that.info);

                        } else {
                            $.toast("无法加载", "text");
                        }

                    })
                    // catch中跟一个失败回调函数
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            pay:function (gid,price) {
                //let gid = getUrlParm('gid');
//                console.log(id,'参数id')
//                console.log(gid,'方法传入的id')
                if(!$('#weuiAgree').is(':checked')){
                    $.toast.prototype.defaults.duration=1000;
                    $.toast("请同意协议",'text');
                    return false
                }else{
                    //支付
                    $.modal({
                        title: "请选择支付方式",
                        text: "<label style='color: #3B9008'>*微信中请选择微信支付<br/>*微信外请选择支付宝</label>",
                        buttons: [
                            { text: "支付宝", onClick: function(){
                                let that = this
                                let uid=localStorage.getItem('uid');
                                window.location.href="http://www.yqfyqf.com/yikehao/AliPay?uid="+uid+"&gid="+gid+"&paytype=1"+"&price="+price;
                            } },
                            { text: "微信支付", onClick: function(){
                                let openid=localStorage.getItem('openid');
                                if(openid==null||openid==''||openid=='null'){
                                    window.location.href="http://www.yqfyqf.com/yikehao/myapi";
                                }else{
                                    let that = this
                                    let uid=localStorage.getItem('uid');
                                    if (uid==null||uid==''){
                                        window.location.href="login.html";
                                    }else{
                                        axios({
                                            url: 'http://www.yqfyqf.com/yikehao/wxpay',
                                            method: 'post',
                                            data: {
                                                openid:openid,
                                                uid:uid,
                                                gid:gid,
                                                paytype:1,
                                                price:price
                                            },
                                            headers: {'Content-Type': 'application/json'}
                                        }).then(function (resp) {
                                            if (resp.data.code == 1) {
                                                //支付成功
                                                /////////////////////////
                                                function onBridgeReady(){
                                                    WeixinJSBridge.invoke(
                                                        'getBrandWCPayRequest', resp.data,
                                                        function(res){
                                                            if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                                                                //   //支付成功，延迟3秒跳转到订单详情页面
                                                                console.log(res,'支付成功信息')
                                                                $.alert("支付成功！", "支付提示");
                                                                window.location.href='mine.html';
                                                            }else{
                                                                console.log(res,'支付错误信息')
                                                                $.alert("支付失败", "支付提示");
                                                                history.go(-2);
                                                            }
                                                        }
                                                    );
                                                }
                                                if (typeof WeixinJSBridge == "undefined"){
                                                    if( document.addEventListener ){
                                                        document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                                                    }else if (document.attachEvent){
                                                        document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                                                        document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                                                    }
                                                }else{
                                                    onBridgeReady();
                                                }
                                                //////////////////
                                            } else {
                                                console.log(resp.data.msg,'错误信息')
                                            }
                                        })
                                            .catch(function (error) {
                                                console.log(error);
                                            });
                                    }
                                }
                            } },
                            { text: "取消", className: "default"},
                        ]
                    });

                }
            }

        }
    })
    function getUrlParm(name) {
        //获取url方法 编辑传来的参数
        //     //之前decodeURI是用的unescape() 有时候会取汉字乱码
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return decodeURI(r[2]);
        return null;
    }
</script>
</body>
</html>