<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css reset -->
    <link rel="stylesheet" href="./css/reset.css">
    <!-- weui -->
    <link rel="stylesheet" href="./css/weui.css">
    <link rel="stylesheet" href="./css/jquery-weui.css">
    <!-- index.css -->
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="css/order.css">
    <!-- rem 适配 -->
    <script src="./js/jquery-2.1.4.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/vue.js"></script>

    <title>云乐互联</title>
</head>
<body>
<!-- header start -->
    <div class="topbar-second">
        <span onclick="javascript:history.go(-1)"></span>
        订单列表
        <i class="back" onclick="javascript:history.go(-1)"></i>
    </div>

 <!--main start -->
    <div class="order" id="v_main">
        <div class="order_nav" id="order-menu-bind">
            <a class="order_item"
               v-for="(item,index) in orderMenus"
               :class="{'order_item_active':orderStatus==item.id}" @click="changetap(item.id)">
               {{item.name}}
            </a>
        </div>
        <div class="order_content" v-if="orderStatus==0">
            <div class="order_product" v-for="(item,index) in payorderlist">
                <div class="pro_content">
                    <div class="weui-form-preview__bd">
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">订单号</label>
                            <span class="weui-form-preview__value">{{item.ordernum}}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">类型</label>
                            <span class="weui-form-preview__value">买号支付</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">标题</label>
                            <span class="weui-form-preview__value">{{item.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="pro_total_price" v-if="item.products !=''">共计：￥ <span>{{item.payprice}}</span>元</div>
                <div class="pro_operation">
                    <a :href="'./orderdetail.html?types=0&id='+item.id">订单详细</a>
                </div>

            </div>
        </div>
        <div class="order_content"  v-if="orderStatus==1">
            <div class="order_product" v-for="(item,index) in viporderlist">
                <div class="pro_content">
                    <div class="weui-form-preview__bd">
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">订单号</label>
                            <span class="weui-form-preview__value">{{item.ordernum}}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">类型</label>
                            <span class="weui-form-preview__value" v-if="item.types==1">月卡会员</span>
                            <span class="weui-form-preview__value" v-if="item.types==2">季卡会员</span>
                            <span class="weui-form-preview__value" v-if="item.types==3">永久会员</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">手机号</label>
                            <span class="weui-form-preview__value">{{item.phone}}</span>
                        </div>
                    </div>
                </div>
                <div class="pro_total_price" v-if="item.products !=''">共计：￥ <span>{{item.payprice}}</span>元</div>
                <div class="pro_operation">
                    <a :href="'./orderdetail.html?types=1&id='+item.id">订单详细</a>
                </div>

            </div>
        </div>
        <div class="order_content"  v-if="orderStatus==2">
            <div class="order_product" v-for="(item,index) in selllist">
                <div class="pro_content">
                    <div class="weui-form-preview__bd">
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">发布时间</label>
                            <span class="weui-form-preview__value">{{item.addtime}}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">类型</label>
                            <span class="weui-form-preview__value">{{item.fortypetext}}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">名称</label>
                            <span class="weui-form-preview__value">{{item.zhname}}</span>
                        </div>
                    </div>
                </div>
                <div class="pro_total_price" v-if="item.products !=''">共计：￥ <span>{{item.price}}</span>元</div>
                <div class="pro_operation">
                    <a :href="'./orderdetail.html?types=2&id='+item.id">订单详细</a>
                </div>

            </div>
        </div>
        <div class="order_content"  v-if="orderStatus==3">
            <div class="order_product" v-for="(item,index) in addserlist">
                <div class="pro_content">
                    <div class="weui-form-preview__bd">
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">订单号</label>
                            <span class="weui-form-preview__value">{{item.ordernum}}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">类型</label>
                            <span class="weui-form-preview__value">{{item.types}}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">下单时间</label>
                            <span class="weui-form-preview__value">{{item.paytime}}</span>
                        </div>
                    </div>
                </div>
                <div class="pro_total_price" v-if="item.products !=''">共计：￥ <span>{{item.payprice}}</span>元</div>
                <div class="pro_operation">
                    <a :href="'./orderdetail.html?types=3&id='+item.id">订单详细</a>
                </div>

            </div>
        </div>
    </div>
    <!--main end -->

<footer>
    <!-- tabbar -->
    <div class="weui-tabbar" id="footer-tabber">
        <a href="./index.html" class="weui-tabbar__item weui-bar__item--on">
            <!--<span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>-->
            <div class="weui-tabbar__icon">
                <img src="./images/indexicon.png" alt="">
            </div>
            <p class="weui-tabbar__label" style="color: #999999;">首页</p>
        </a>
        <!--<a href="javascript:;" class="weui-tabbar__item">-->
        <a href="./buy.html" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="./images/bugicon.png" alt="">
            </div>
            <p class="weui-tabbar__label">买号</p>
        </a>
        <a href="./fabu.html" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="./images/sellicon.png" alt="">
            </div>
            <p class="weui-tabbar__label" >卖号</p>
        </a>
        <a href="./mine.html" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="./images/usericon.png" alt="">
            </div>
            <p class="weui-tabbar__label" style="color: #36c7fe;">我的</p>
        </a>
    </div>
</footer>

<!-- jquery -->
<script src="./js/jquery-weui.min.js"></script>
<script src="./js/swiper.min.js"></script>
<!-- common js -->
<script src="./js/common.js"></script>
<script src="./js/public.js"></script>
<script src="./js/data.js"></script>
<script src="./js/request.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@1.5/lib/vant.min.js"></script>
<script src="./js/vue.js"></script>
<script src="./js/data.js"></script>
<script src="./js/axios.js"></script>
<script>
    // <!--点击事件控制-->
    var vm = new Vue({
        el: "#v_main",
        data: {
            selllist:{},
            addserlist:{},
            payorderlist:{},
            viporderlist:{},
            orderMenus:[
                {id:0,name:"买号订单"},
                {id:1,name:"会员订单"},
                {id:2,name:"发布订单"},
                {id:3,name:"增值服务"},
            ],
            orderStatus:0,     // 订单选中状态
        },
        mounted() {
            this.getnewlist()
        },
        methods: {
            changetap(nums){
                this.orderStatus =nums;
                console.log(nums,'得到的')
            },
            getnewlist(){
                let that = this;
                let islogin=localStorage.getItem('uid');
                    if (islogin==null||islogin==''){
                        window.location.href="login.html";
                    }else{
                        axios.post('http://wxpay.possji.cn/yikehao/getOrderlist', {
                            uid:islogin
                        })
                        //then里面跟一个成功回调函数
                            .then(function (resp) {
                                if (resp.data.code) {
                                    that.selllist = resp.data.data.selllist
                                    that.addserlist = resp.data.data.addserlist
                                    that.payorderlist = resp.data.data.payorderlist
                                    that.viporderlist = resp.data.data.viporderlist
                                    console.log(resp.data,'返回数据');
                                } else {
                                    $.toast("无法加载", "text");
                                }
                            })
                            // catch中跟一个失败回调函数
                            .catch(function (error) {
                                console.log(error);
                            });
                    }


            },
        }
    })
</script>
</body>
</html>