<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css reset -->
    <link rel="stylesheet" href="./css/reset.css">
    <!-- 公共common.css -->
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/menu.css">

    <!-- weui -->
    <!-- <link rel="stylesheet" href="./css/weui.css"> -->
    <!-- <link rel="stylesheet" href="./css/jquery-weui.css"> -->

    <!-- 适配 -->
    <script src="./js/common.js"></script>
    <!-- vant组件库 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@1.5/lib/index.css">
    <title>Item_wrap</title>
</head>

<body>
    <div id="product-detail">
        <!-- header start -->
        <header>
            <div class="topbar-second">
                <span onclick="javascript:history.go(-1)"></span>账号详情
                <i class="back" onclick="javascript:history.go(-1)"></i>
            </div>
        </header>
        <!-- header end   -->

        <!--<div class="main">-->
        <div class="detail-content">
            <div class="pro-title pro-item"><span>标题：</span>{{info.zhname}}</div>
            <div class="pro-price pro-item"><label>价格：</label>
                <span class="pro-newPrice">￥{{info.oneprice}}</span>
                <span class="callqq" @click="callqq(info.kfqq)">联系客服</span>
                <span class="sellcall" @click="showcall()">卖家联系方式</span>
            </div>
            <div class="infoContent">
                <div class="infoContentSon">
                    <div class="infoContentSon_1">
                        <div class="infoContentSon_1_body">
                            <div class="infoContentSon_1_top">
                                粉丝数量
                            </div>
                            <div class="infoContentSon_1_bottom special">
                                {{info.fansnum}}
                            </div>
                        </div>
                        <div class="infoContentSon_1_body">
                            <div class="infoContentSon_1_top">
                                注册时间
                            </div>
                            <div class="infoContentSon_1_bottom">
                                {{info.addtime}}
                            </div>
                        </div>
                        <div class="infoContentSon_1_body">
                            <div class="infoContentSon_1_top">
                                头条阅读数
                            </div>
                            <div class="infoContentSon_1_bottom">
                                {{info.headernum}}
                            </div>
                        </div>
                        <div class="infoContentSon_1_body">
                            <div class="infoContentSon_1_top">
                                封号次数
                            </div>
                            <div class="infoContentSon_1_bottom">
                                0
                            </div>
                        </div>
                    </div>

                </div>
                <div class="infoContentSon">
                    <div class="infoContentSon_1">
                        <div class="infoContentSon_1_body">
                            <div class="infoContentSon_1_top">
                                所属类目
                            </div>
                            <div class="infoContentSon_1_bottom">
                                {{info.fortype}}
                            </div>
                        </div>
                        <div class="infoContentSon_1_body">
                            <div class="infoContentSon_1_top">
                                阅读UV
                            </div>
                            <div class="infoContentSon_1_bottom">
                                {{info.UV}}
                            </div>
                        </div>
                        <div class="infoContentSon_1_body">
                            <div class="infoContentSon_1_top">
                                账号类型
                            </div>
                            <div class="infoContentSon_1_bottom" v-if='info.type == 1'>
                                订阅号
                            </div>
                            <div class="infoContentSon_1_bottom" v-if='info.type == 2'>
                                服务号
                            </div>
                        </div>
                        <div class="infoContentSon_1_body">
                            <div class="infoContentSon_1_top">
                                违规次数
                            </div>
                            <div class="infoContentSon_1_bottom">
                                {{info.weiguinum == ''?0:info.weiguinum}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="infoContentSon">
                    <div class="infoContentSon_1">
                        <div class="infoContentSon_1_body">
                            <div class="infoContentSon_1_top">
                                粉丝偏向
                            </div>
                            <div class="infoContentSon_1_bottom" v-if='info.sexbli == 0'>
                                平衡
                            </div>
                            <div class="infoContentSon_1_bottom" v-if='info.sexbli == 1'>
                                男居多
                            </div>
                            <div class="infoContentSon_1_bottom" v-if='info.sexbli == 2'>
                                女居多
                            </div>
                        </div>
                        <div class="infoContentSon_1_body">
                            <div class="infoContentSon_1_top">
                                流量主月收入
                            </div>
                            <div class="infoContentSon_1_bottom">
                                {{info.getmonth}}
                            </div>
                        </div>
                        <div class="infoContentSon_1_body">
                            <div class="infoContentSon_1_top">
                                粉丝区域
                            </div>
                            <div class="infoContentSon_1_bottom">
                                全国
                            </div>
                        </div>
                        <div class="infoContentSon_1_body">
                            <div class="infoContentSon_1_top">
                                认证状态
                            </div>
                            <div class="infoContentSon_1_bottom" v-if='info.isrz == 0'>
                                未认证
                            </div>
                            <div class="infoContentSon_1_bottom" v-if='info.isrz == 1'>
                                个人认证
                            </div>
                            <div class="infoContentSon_1_bottom" v-if='info.isrz == 2'>
                                企业认证
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabDiv">
                <ul class="fuckUl">
                    <li v-for="( item , index ) of  test" :key="index" class="li_itme noactive" :class="[willShow == index && 'active']">
                        <div class="fuckLiDiv" @click="got(index)">{{item.name}}</div>
                    </li>
                </ul>

            </div>
            <div class="detail_shop" v-if='willShow == 0'>
                <div class="maijiashuo">
                    <!-- 卖家说 -->
                    {{info.desc}}
                </div>

            </div>
            <div class="detail_pic" v-if='willShow == 1'>
                <img class="detail_pic_" :src=item alt="" v-for="( item , index ) of  info.imgarr" :key="index" @click="showImagePreview(0)">
            </div>
            <!-- <div class="swiper-container indexBanner" id="indexBanner" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000"
                v-if='showbanner == true'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="(item,index) in info.imgarr">
                        <img :src="item" alt="">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div> -->
        </div>

        <!--</div>-->

        <!-- footer start -->
        <footer>
            <a class="pro-buy" :href="'order_confirm.html?gid='+info.id">立即购买
            </a>
        </footer>
        <!-- footer end -->

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@1.5/lib/vant.min.js"></script>
    <!-- jquery -->
    <!-- <script src="./js/jquery-2.1.4.js"></script> -->
    <!-- <script src="./js/jquery-weui.min.js"></script> -->

    <!-- common js -->
    <script src="./js/common.js"></script>
    <script src="./js/public.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@1.5/lib/vant.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/data.js"></script>
    <script src="./js/axios.js"></script>
    <!-- <script src="./js/swiper.min.js"></script> -->

    <script>
        // import {
        //     ImagePreview
        // } from 'https://cdn.jsdelivr.net/npm/vant@1.5/lib/vant.min.js';
        var vm = new Vue({
            el: "#product-detail",

            data: {
                info: [],
                test: [{
                        name: '商家描述'
                    },
                    {
                        name: '附图'
                    }
                ],
                willShow: 0,
                url: 'http://wxpay.possji.cn',
                showbanner: false,
                images :[
                    
                ]

            },
            mounted() {
                this.getinfo();
                console.log(this.info)
            },
            methods: {
                got(index) {
                    this.willShow = index
                    $.showLoading();
                    setTimeout(function() {
                        $.hideLoading();
                    }, 300)
                },
                getinfo() {
                    let that = this;
                    var id = getUrl('id');
                    axios.post('http://wxpay.possji.cn/yikehao/getdetail', {
                            id: id
                        })
                        //then里面跟一个成功回调函数
                        .then(function (resp) {
                            if (resp.data.code) {
                                that.info = resp.data.data
                                that.images = resp.data.data.imgarr
                                console.log(that.info);

                            } else {
                                $.toast("无法加载", "text");
                            }

                        })
                        // catch中跟一个失败回调函数
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                showImagePreview: function(position, timer) {
                    console.log(vant);
                    
                    
                   vant.ImagePreview({
                        images:this.images,
                        startPosition: position
                    });
                },
                callqq:function (qq) {
                    window.open("http://wpa.qq.com/msgrd?v=3&uin="+qq+"&site=qq&menu=yes");
                },
                showcall:function () {
                    $.confirm('<label style="color: red;">重点提示</label>  一定要经过云乐互联担保交易，保证资金100%安全。普通会员最多免费看3个商家，是否继续', function() {
                        //这里发送请求显示商家联系电话，待上uid。如果没登录先去登录才可以查看
                        $.alert("商家联系方式：18319409222", "信息");
                    }, function() {
                        //取消操作
                    });
                }

            }
        })
    </script>
</body>

</html>