<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css reset -->
    <link rel="stylesheet" href="./css/reset.css">
    <!-- weui -->
    <link rel="stylesheet" href="./css/weui.css">
    <link rel="stylesheet" href="./css/jquery-weui.css">
    <!-- index.css -->
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="css/server.css">
    <!-- rem 适配 -->
    <script src="./js/jquery-2.1.4.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/vue.js"></script>

    <title>服务中心</title>
</head>
<body>
<!-- header start -->
    <div class="topbar-second">
        <span onclick="javascript:history.go(-1)"></span>
        服务中心
        <i class="back" onclick="javascript:history.go(-1)"></i>
    </div>

 <!--main start -->
    <div class="order" id="v_main">
        <div class="order_nav" id="order-menu-bind">
            <a class="order_item" :class="{'order_item_active':tiemtap}" @click="changeitme">
                {{newtitle}}
            </a>
            <a class="order_item" :class="{'order_item_active':!tiemtap}" @click="changeitme">
                {{protitle}}
            </a>
        </div>
        <div class="order_content"  v-if="tiemtap">
            <div class="order_product" v-for="(item,index) in newlist">
                <div class="pro_content">
                    <div class="pro_img">
                        <a href="#">
                            <img :src=" item.titleimg" alt="">
                        </a>
                    </div>
                    <div class="pro_inf">
                        <div class="pro_name">{{ item.title }}</div>
                        <div class="pro_desc">{{ item.desc }}</div>
                        <div class="pro_desc">{{ item.addtime }}</div>
                    </div>
                </div>
                <div class="pro_operation">
                    <a :href="'./newsdetail.html?types=1&id='+item.id">浏览详细</a>
                </div>

            </div>
        </div>
        <div class="order_content"  v-if="!tiemtap">
            <div class="order_product" v-for="(item,index) in serlist">
                <div class="pro_content">
                    <div class="pro_img">
                        <a href="#">
                            <img :src=" item.titleimg" alt="">
                        </a>
                    </div>
                    <div class="pro_inf">
                        <div class="pro_name">{{ item.title }}</div>
                        <div class="pro_desc">{{ item.desc }}</div>
                        <div class="pro_desc">{{ item.addtime }}</div>
                    </div>
                </div>
                <div class="pro_operation">
                    <a :href="'./newsdetail.html?types=0&id='+item.id">浏览详细</a>
                </div>

            </div>
        </div>
    </div>
    <!--main end -->

<footer>
    <!-- tabbar -->
    <div class="weui-tabbar" id="footer-tabber">
        <a href="./index.html" class="weui-tabbar__item weui-bar__item--on">
            <!--<span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>-->
            <div class="weui-tabbar__icon">
                <img src="./images/indexicon.png" alt="">
            </div>
            <p class="weui-tabbar__label" style="color: #999999;">首页</p>
        </a>
        <!--<a href="javascript:;" class="weui-tabbar__item">-->
        <a href="./buy.html" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="./images/bugicon.png" alt="">
            </div>
            <p class="weui-tabbar__label">买号</p>
        </a>
        <a href="./fabu.html" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="./images/sellicon.png" alt="">
            </div>
            <p class="weui-tabbar__label" >卖号</p>
        </a>
        <a href="./mine.html" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="./images/usericon.png" alt="">
            </div>
            <p class="weui-tabbar__label" style="color: #36c7fe;">我的</p>
        </a>
    </div>
</footer>

<!-- jquery -->
<script src="./js/jquery-weui.min.js"></script>
<script src="./js/swiper.min.js"></script>
<!-- common js -->
<script src="./js/common.js"></script>
<script src="./js/public.js"></script>
<script src="./js/data.js"></script>
<script src="./js/request.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@1.5/lib/vant.min.js"></script>
<script src="./js/vue.js"></script>
<script src="./js/data.js"></script>
<script src="./js/axios.js"></script>

<script>
    // <!--点击事件控制-->
    var vm = new Vue({
        el: "#v_main",
        data: {
            newlist:{},
            serlist:{},
            tiemtap:1,
            newtitle:'新闻中心',
            protitle:'疑难解答'
        },
        mounted() {
            this.getnewlist()
        },
        methods: {
            changeitme(){
                this.tiemtap =!this.tiemtap
            },
            getnewlist(){
                let that = this;
                axios.post('http://yqf.yun-le.com/yikehao/getSerandProinfo', {
                })
                //then里面跟一个成功回调函数
                    .then(function (resp) {
                        if (resp.data.code) {
                            that.newlist = resp.data.data.newlist
                            that.serlist = resp.data.data.prolist
                            console.log(resp.data,'返回新闻数据');
                        } else {
                            $.toast("无法加载", "text");
                        }
                    })
                    // catch中跟一个失败回调函数
                    .catch(function (error) {
                        console.log(error);
                    });
            },
        }
    })
</script>
</body>
</html>