<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css reset -->
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/common.css">

    <!-- weui -->
    <link rel="stylesheet" href="./css/weui.css">
    <link rel="stylesheet" href="./css/jquery-weui.css">
    <!-- jquery -->
    <script src="./js/jquery-2.1.4.js"></script>
    <script src="./js/common.js"></script>
    <!-- mine css -->
    <link rel="stylesheet" href="./css/mine.css">
    <title>我的</title>
</head>
<body>

<header>
    <div class="topbar-second">
        <span onclick="javascript:history.go(-1)"></span>
        资料修改
        <i class="back" onclick="javascript:history.go(-1)"></i>
    </div>
</header>
<div  id="main_">
<ul class="inf-rev">
    <!--<li>-->
        <!--<label for="phone">手机号</label>-->
        <!--<input id="phone" type="text" disabled="disabled" value="form.phone" v-model='form.phone'>-->
    <!--</li>-->
    <li>
        <label for="wechat">微信号</label>
        <input id="wechat" type="text" value="form.wx" v-model='form.wechat'>
    </li>
    <li>
        <label for="qq">Q   Q</label>
        <input id="qq" type="number" value="form.qq" v-model='form.qq'>
    </li>
    <li>
        <label for="email">邮箱</label>
        <input id="email" type="email" value="form.qqemail" v-model='form.qqemail'>
    </li>
</ul>

<!-- 保存 -->
<div class="login-out inf-save" @click='toSave()' id="saveInf">保存</div>
</div>
<!-- footer start -->
<footer>
    <!-- tabbar -->
    <div class="weui-tabbar" id="footer-tabber">
        <a href="./index.html" class="weui-tabbar__item weui-bar__item--on">
            <!--<span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>-->
            <div class="weui-tabbar__icon">
                <img src="./images/indexicon.png" alt="">
            </div>
            <p class="weui-tabbar__label" style="color: #999999;">首页</p>
        </a>
        <!--<a href="javascript:;" class="weui-tabbar__item">-->
        <a href="./buy.html" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="./images/bugicon.png" alt="">
            </div>
            <p class="weui-tabbar__label">买号</p>
        </a>
        <a href="./fabu.html" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="./images/sellicon.png" alt="">
            </div>
            <p class="weui-tabbar__label" >卖号</p>
        </a>
        <a href="#" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="./images/usericon.png" alt="">
            </div>
            <p class="weui-tabbar__label" style="color: #36c7fe;">我的</p>
        </a>
    </div>
</footer>
<!-- footer end   -->
<script src="./js/request.js"></script>
<script src="./js/vue.js"></script>
<script src="./js/axios.js"></script>
<script src="./js/jquery-weui.min.js"></script>
<script src="./js/swiper.min.js"></script>
<!-- common js -->
<script src="./js/common.js"></script>
<script>
    // <!--点击事件控制-->
    var Vm = new Vue({
        el: "#main_",
        data: {
            form: {
                wechat: '',
                qq: '',
                qqemail: '',
                phone: '',
            }
        },
        mounted() {
            this.getinfo()
        },
        methods: {
            //提交
            toSave() {
                let that = this
                let islogin=localStorage.getItem('uid');
                console.log('点击了')
                axios({
                    url: 'http://yqf.yun-le.com/yikehao/doEditinfo',
                    method: 'post',
                    data: {
                        wechat: that.form.wechat,
                        qq: that.form.qq,
                        qqemail: that.form.qqemail,
                        uid:islogin
                    },
                    headers: {'Content-Type': 'application/json'}


                })
                //then里面跟一个成功回调函数
                    .then(function (resp) {
                        if (resp.data.code == 1) {
                            $.toast(resp.data.msg,'text')
                            window.location.reload();
                        } else {
                            console.log(resp.data,'返回信息');
                            $.toast(resp.data.msg,'text')
                        }

                    })
                    // catch中跟一个失败回调函数
                    .catch(function (error) {
                        console.log(error);
                    });

            },
            //获取用户信息
            getinfo(){
                //获取个人信息
                let that = this
                let islogin=localStorage.getItem('uid');
                axios({
                    url: 'http://yqf.yun-le.com/yikehao/getuseropenid',
                    method: 'post',
                    data: {uid: islogin,},
                    headers: {'Content-Type': 'application/json'}
                }).then(function (resp) {
                    if (resp.data.code == 1) {
                        that.form.qq=resp.data.data.qq
                        that.form.wechat=resp.data.data.wx
                        that.form.qqemail=resp.data.data.qqemail
                        that.form.phone=resp.data.data.phone
                        console.log(resp.data.data,'用户信息')
                    } else {
                        console.log(resp.data.msg,'错误信息')
                    }
                })
                    .catch(function (error) {
                        console.log(error);
                    });
            }

        }
    })
</script>
</body>
</html>